
head
  link(rel='stylesheet',href='/css/menu.css')
main(class='main-content')
  nav
    ul
      li
        a(href='/cliente/consultar') Cliente
      li
        a(href='/producto/consultar') producto
      li
        a(href='/') Compras
      li
        a(href='/compra/Listar_Compras') Compras Realizadas