
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 20px;
}
nav ul li {
        display: inline-block;
        line-height: 80px;
    }
        
nav ul li a {
            display: block;
            padding: 0 10px;
        text-decoration: none;
        color:white;
        font-size: 20px;
        }
     
.main-content{
        background-color: black;
        width: 100%;
        margin: 20px auto;
        box-shadow: 0 0 10px white;
     }


